<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row mirror-widget">
    <div class="col-md-10 content-area"></div>
    <div class="col-md-2">
      <% for(var index in rows) { var channel = rows[index].left; %>
        <div class="weather-degrees">
          <span class="weather-icon" data-icon="<%= channel.item.condition.character%>" />
          <span id='location_temp'><%= channel.item.condition.temp%></span>
        </div>
        <div class="weather-location">
          <span><%= channel.location.city%>, <%= channel.location.region%></span>
        </div>
      <% } %>
    </div>
  </div>
</body>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
  var socket = io("localhost:4500");

  socket.on('times_up', function(data){
    var weatherUpdates = data.weatherRows;

    console.log("Socket msg: [" + data + "]")
    var domWeather = document.getElementsByClassName('weather-degrees')
    Array.prototype.forEach.call(domWeather, function(currentValue) {
      console.log(currentValue + ' ' + currentValue.tagName + ' ' + currentValue.innerHtml);
      Array.prototype.forEach.call(currentValue.getElementsByClassName('weather-icon'), function(currentInnerValue){
        console.log(currentInnerValue)
        Array.prototype.forEach.call(currentInnerValue, function(tempTag){
          console.log(tempTag)
        })
      })
    })
    /*
    for (var element in domWeather) {
      console.log("ELEMENT: [" + element + "]")
      for (var weatherChild in domWeather[element]) {
        var className = weatherChild.className
        console.log("Weather Element: [" + className + "]")
        if (className == 'weather-icon') {
          // update value
          console.log("UPDATE")
        }
      }
    }*/
  });
</script>
<html>
